/* overwrite BS style */
.btn-primary {
    background-color: rgb(11, 210, 210);
    border: 1px solid rgb(11, 210, 210);
}
.btn-primary:hover {
    background-color: rgb(22, 175, 175);
    border: 1px solid rgb(22, 175, 175);
}

/* style for appended elements */
#city-info {
    margin: 0;
    padding: 0;
    display: flex;
}
  
#target-city h2 {
    margin: 0;
    padding: 0;
}
  
#target-city img {
    width: 1.2em;
    padding-left: .5rem;
}

#current-date p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: grey;
}

#info-city ul,
#info-city ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* search column */
.fixed {
    width: 216px;
}

/* five-day forecast title div */
.five-day {
    width: 12rem;
}
/* line that separates search input from history section */
.line {
    border-bottom: 1px solid rgba(128, 128, 128, 0.318);
}

.current-search .card-title {
  font-size: 1.5rem;
}

.current-search .card-text {
  font-size: 1rem; 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}