#city-info {
    margin: 0;
    padding: 0;
    display: flex;
}
  
#target-city h2 {
    margin: 0;
    padding: 0;
}
  
#target-city img {
    width: 1.2em; /* Adjust the width as desired */
    padding-left: .5rem;
}

#current-date p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: grey;
}

#info-city ul,
#info-city ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.five-day {
    width: 12rem;
}